* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: rgba(240, 255, 255, 0.562);
}
header {
  padding: 30px;
  text-align: center;
  background: white;
}
.topnavbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: gray;
}
.topnavbar div {
  margin: 12px;
}
a {
  text-decoration: none;
  color: white;
  padding: 12px 15px;
}
.topnavbar a:hover {
  background-color: rgb(207, 202, 202);
  color: black;
}

.container{
    display: flex;
    flex-flow: row wrap;
}
.left {
  display: flex;
  flex-direction: column;
  flex: 72%;
  min-width: 550px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 25%;
  background-color: #f1f1f1;
  padding-left: 10px;
}

.image {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
